.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #d3d6db;
}

.nav a {
  margin-right: 15px;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > * {
  margin-right: 15px;
}
